.App {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: scroll;
}

.fontBold {
  font-size: large;
  font-weight: bold;
}

.fp-icon {
  margin-right: 15px;
}

.fp-dashboard {
  width: 100%;
  height: 100vh;

  display: flex;
}


.fp-dashboard-controls {
  flex: 1;
  border-right: 1px solid rgba(17, 17, 17, 0.20);
  box-shadow: 0.4px 0px 4px 0px rgba(0, 0, 0, 0.25);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.fp-control {
  width: 12rem;
}

.fp-control:hover {
  cursor: pointer;
}

.fp-dashboard-controls .logout {
  display: flex;
  width: 166px;
  padding: 12px 8px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: absolute;
  bottom: 20px;
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: 510;
  line-height: normal;
  margin-bottom: 20px;
  cursor: pointer;
}

.fp-dashboard-controls .logout:hover {
  border: 1px solid rgba(17, 17, 17, 0.20);
  box-shadow: '0px 2px 4px rgba(0, 0, 0, 0.1)' ;
}

.fp-dashboard-controls .logo {
  position: absolute;
  top: 10px;
}

.disabled {
  pointer-events: none;
  background-color: #ECECEC!important;
  color: #B6B6B6!important;
}

.comingSoon {
  position: relative;

}

::-webkit-scrollbar {
  display: none;
}

.badge {
  color: white!important;
  background-color: black!important;
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.threedots {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 15px;
}

